@font-face {
	font-family: 'JetBrains Mono';
	src: url('/assets/fonts/JetBrains Mono/variable/JetBrainsMono[wght].ttf') format('truetype');
	font-weight: 100 800;
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('/assets/fonts/JetBrains Mono/variable/JetBrainsMono-Italic[wght].ttf') format('truetype');
	font-weight: 100 800;
	font-style: italic;
}

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-optical-sizing: auto;
	font-family: 'JetBrains Mono', monospace;
	font-size: 14px;

	--transition: .25s cubic-bezier(.175,.885,.32,1);

	--safe-area-top: env(safe-area-inset-top);
	--safe-area-right: env(safe-area-inset-right);
	--safe-area-bottom: env(safe-area-inset-bottom);
	--safe-area-left: env(safe-area-inset-left);
}

button:disabled {
	opacity: .5;
	cursor: not-allowed;
}
