@font-face {
	font-family: 'JetBrains Mono';
	src: url('/assets/fonts/JetBrains Mono/variable/JetBrainsMono[wght].ttf') format('truetype');
	font-weight: 100 800;
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('/assets/fonts/JetBrains Mono/variable/JetBrainsMono-Italic[wght].ttf') format('truetype');
	font-weight: 100 800;
	font-style: italic;
}

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-optical-sizing: auto;
	font-family: 'JetBrains Mono', monospace;
}

